body{
  background-color: rgb(214, 250, 255);
}
h1{
  color: rgb(45, 81, 110);
  font-family: Georgia,Times,Times New Roman,serif;
}
h2{
  color: rgb(45, 81, 110);
  font-family: Georgia,Times,Times New Roman,serif;
}
p{
  color: rgb(0, 0, 0);
  font-size: 1.35em;
  line-height: 1.8;
  font-family: Georgia,Times,Times New Roman,serif;
}
input:focus {
  color: red;
}
a:hover {
  background-color: yellow;
}
a{
  font-size: 1.35em;
  line-height: 1.7;
  font-family: Georgia,Times,Times New Roman,serif;
}
ul{
  font-size: 1.35em;
  line-height: 1.9;
  font-family: Georgia,Times,Times New Roman,serif;
  list-style: square;
}
